.tienda{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.imgtienda{
    width: 200px;
    height: 200px;
}

.titulo{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#buscador{
    border: 2px solid;
}

.caja{
    display: flex;
    width: 50%;
    justify-content: space-between;
}